<div class="list-group-item">
  <span class="badge">Reply</span>
  <h4 class="list-group-item-heading"><%= comment.name %> &nbsp; <span class="label label-primary">ID: <%= comment.id %></span></h4> 
  <p class="list-group-item-text"><%= comment.content %></p>
</div>