<div class="comment-form">
<div class="well input-group input-group-lg"><%= form_for(@comment,  remote: true )do |f| %>
  <h3>Leave  a Comment <span class="label label-default">Be Nice!</span></h3>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Post a new comment", size: "100x10" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>
</div>