<div class="container" id="base-index">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>CS 242 Projects</h1>
            <p>Assignments from CS 242</p>
          </div>
          <div class="row">
            <% @projects.each do |project| %>
            <div class="col-xs-6 col-lg-4">
              <h2><%= project.title %></h2>
                <ul>
                    <li>Date: <%= project.date %></li>
                    <li>Version: <%= project.version %></li>
                    <li>Summary: <%= project.summary %></li>
                </ul>
              <%= link_to "View details", project, { :class=>"btn btn-default", :role=>"button" } %>
              <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!--/.col-xs-6.col-lg-4-->
            <% end %>
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->


      </div><!--/row-->
      <section class="micropost_form">
        <%= render 'shared/comment_form' %>
      </section>
      <div class="list-group" id="comments">
      <%= render 'comments_list' %>
      </div>

    
      <hr>

</div><!--/.container-->