<div class="jumbotron">
  <h2><%= @project.title %></h2>
    <ul>
        <li>Date: <%= @project.date %></li>
        <li>Version: <%= @project.version %></li>
        <li>Summary: <%= @project.summary %></li>
    </ul>
    
    <div id="filewindow"></div>


</div>
<ul class="list-group">
  <%= render @source_files %>
</ul>

