<li class="list-group-item">
  <span class="badge"><%= source_file.filesize %> bytes, <%= source_file.filetype %></span>
  <%= link_to source_file.path, source_file %>
  <%= link_to "Dispay", show_file_path(source_file.id), remote: true %>
</li>