<div class="jumbotron">
<h1><%= @source_file.path %></h1>
<iframe src="https://subversion.ews.illinois.edu/svn/fa15-cs242/rssheah2/<%= @source_file.path %>"  width="100%" height="800">
    <p>File could not be loaded.</p>
</iframe>
</div>