<div class="col-xs-6 col-lg-4">
  <h2><%= project.title %></h2>
    <ul>
        <li>Date: <%= project.date %></li>
        <li>Version: <%= project.version %></li>
        <li>Summary: <%= project.summary %></li>
    </ul>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div><!--/.col-xs-6.col-lg-4-->